/* Fonts via: https://fontsource.org/fonts/open-sans/cdn */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url("/assets/open-sans_5.2.7_latin-wght-normal.woff2") format("woff2-variations");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 300 800;
  src: url("/assets/open-sans_5.2.7_latin-wght-italic.woff2") format("woff2-variations");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


:root {
  --bg-color: #FFFFB2;
  --text-color: #000;
}


body {
  background: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  font-size: max(2vw, 18px);
  color: var(--text-color);
  padding: 2vw;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  line-height: 1.5;
}

a {
  color: #0139CF;
  text-decoration-color: #0139CF;
}

header, main, footer {
  border-bottom: 3px solid var(--text-color);
  padding: 2vw 0;


  & > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: 1fr;


    & > * {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    & > *:first-child {
      border-right: 3px solid var(--text-color);
    }
  }
}

header {
  border-top: 3px solid var(--text-color);
  background: var(--bg-color);

  @media screen and (min-width: 900px) {
    height: 15vw;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 900px) {
      max-height: 15vw;
    }
  }
  .logo img {
    max-height: 4rem;
    aspect-ratio: 1 / 1;

    @media screen and (min-width: 900px) {
      max-height: calc(100% - 2rem);
    }
  }

  @media screen and (max-width: 899px) {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 1rem;

    & > * {
      padding: 0;
    }
  }
  @media screen and (min-width: 900px) {
    h1 {
      font-size: 4em;
      margin: 1rem 0;
      font-weight: 800;
    }
  }
}

main {
  nav.sections-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sections-nav-content {
    h3 {
      margin-top: 0;
      margin-bottom: 1rem;
      font-weight: 900;
    }
    @media screen and (min-width: 900px) {
      position: sticky;
      top: 2rem;
    }
  }

  #main-text {
    max-width: 65ch;
    padding-top: 0;
  }

  li {
    margin: 1rem 0;
  }

  @media screen and (max-width: 899px) {
    nav.sections-nav {
      display: block;
      border: 3px solid var(--text-color);
      width: 240px;
      margin: 1rem;
      padding: 0;
      background: white;

      h3 {
        border-bottom: 3px solid var(--text-color);
        padding: 0.5rem 1rem;
        margin: 0;
      }

      ul {
        padding: 0 1rem;
      }
    }
  }

  h2 {
    margin-top: 2em;
    margin-bottom: 0;
    font-weight: 900;
  }
}

footer {
  @media screen and (max-width: 899px) {
    padding: 2rem 0;
  }

  @media screen and (min-width: 900px) {
    text-align: center;
    div.footer-name {
      font-weight: 800;
    }

    & > div {
      padding: 2rem 1rem;
    }
  }
}