@font-face {
  font-family: "Calibri";
  src: url("calibri-regular.ttf") format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Calibri";
  src: url("calibri-bold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Calibri";
  src: url("calibri-italic.ttf") format("ttf");
  font-variant: italic;
}
@font-face {
  font-family: "Calibri";
  src: url("calibri-bold-italic.ttf") format("ttf");
  font-weight: bold;
  font-variant: italic;
}


body {
  background: #FEFECB;
  font-family: Calibri, sans-serif;
  font-size: 18px;
}

a {
  color: #0139CF;
  text-decoration-color: #0139CF;
}

header, main, footer {
  border-bottom: 1px solid #999;


  & > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;


    & > * {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    & > *:first-child {
      border-right: 1px solid #999;
    }
  }
}

header {
  border-top: 1px solid #999;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    max-height: 4rem;
    aspect-ratio: 1 / 1;

    @media screen and (min-width: 600px) {
      max-height: 7rem;
    }
  }

  @media screen and (max-width: 599px) {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 1rem;

    & > * {
      padding: 0;
    }
  }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 4rem;
      margin: 1rem 0;
    }
  }
}

main {
  nav.sections-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sections-nav-content {
    position: sticky;
    top: 1rem;
  }

  #main-text {
    max-width: 65ch;
  }

  li {
    margin: 1rem 0;
  }

  @media screen and (max-width: 599px) {
    nav.sections-nav {
      display: block;
      border: 1px solid #999;
      width: 240px;
      margin: 1rem;
      padding: 0;
      background: white;

      h3 {
        border-bottom: 1px solid #999;
        padding: 0.5rem 1rem;
        margin: 0;
      }

      ul {
        padding: 0 1rem;
      }
    }
  }
}

footer {
  @media screen and (max-width: 599px) {
    padding: 2rem 0;
  }

  @media screen and (min-width: 600px) {

    div.footer-name {
      text-align: center;
    }

    & > div {
      padding: 2rem 1rem;
    }
  }
}